{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dogs/dog-detail.css' %}"
/>
<script defer src="{% static 'js/dog-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="dog-container">
  <div class="dog-img">
    <img 
      src="{% static 'images/' %}" 
      alt="Fat boi"
    >
  </div>
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
      <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
      <h2>A {{ dog.breed }} puppy.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
    <div class='dog-actions'>
      <a href="{% url 'dogs_update' dog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dogs_delete' dog.id %}" class="btn warn">Delete</a>
  </div>
</section>
<div class="walks-toy-container">
  <section class="walks">
    <div class="subsection-title">
      <h2>Walks</h2>
      <img 
        src="{% static 'images/dog-cone.svg' %}" 
        alt="An ice cream cone dog"
      />
      <img 
        src="{% static 'images/dog-onigiri.svg' %}"
        alt="A dog as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Walk</h3>
    <form 
      action="{% url 'add_walking' dog.id %}"
      method='post'
      class='subsection-content'
      autocomplete="off"
      >
      {% if dog.walks_set.all.count > 3 %}
        <p class='walked'>{{dog.name}} has had enough exercise today!</p>
      {% else %}
        <p class="unwalked">{{dog.name}} needs to at least 3 walks a day!</p>
      {% endif %}
      {% csrf_token %}
      {{ walking_form.as_p }}
      <button type="submit" class="btn submit">Add Walk</button>
    </form>
    <h3>Past Walks</h3>
    {% if dog.walks_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Miles</th></tr>
      </thead>
      <tbody>
        {% for walk in dog.walks_set.all %}
          <tr>
            <td>{{walk.date}}</td>
            <td>{{walk.miles}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{dog.name}} has never been walked 😔</p>
    </div>
    {% endif %}
  </section>
</div>


{% endblock %}